DATABASE_URL=postgresql://username:password@host:post/db

OPENAI_API_KEY=YOUR_API_KEY
OPENAI_BASE_URL=http://host:port/version

EMBEDDING_MODEL=text-embedding-nomic-embed-text-v1.5@q8_0
EMBEDDING_DIMENSIONS=768

CHAT_MODEL=llama-3.2-3b-instruct@q8_0

CHUNK_SIZE=500
CHUNK_OVERLAP=20